---
import BaseLayout from '../../../layouts/BaseLayout.astro';
---

<BaseLayout title="Affordable BetterHelp Alternatives | RealMindSolutions" description="Affordable BetterHelp Alternatives">
  <script>
    window.location.href = '/comparisons/affordable-better-help-alternatives';
  </script>
  <div class="sb-container py-12 text-center">
    <p>Redirecting to <a href="/comparisons/affordable-better-help-alternatives" class="text-indigo-600 hover:underline">Affordable BetterHelp Alternatives</a>...</p>
  </div>
</BaseLayout>